.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #091422bd;
    z-index: 9999;
    color: aliceblue;
    padding: 10px 100px;
}
.btn-up{
    border: 1px dotted aliceblue;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}
.menu-item{
    cursor: pointer;
    text-transform: uppercase;
}
.menu-item span{
    padding: 0 10px;
    white-space: nowrap;
}
.flexAl{
    display: flex;
    align-items: center;
}
.flexAl li{
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        flex-direction: column;
    }
    .row {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .menu-item {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-item span {
        margin-bottom: 5px;
    }
    .flexAl {
        margin-top: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
}